<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chat App message bord in VUE JS!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style type="text/css">
        body {
            margin: 20px;
        }
    </style>

</head>

<body>
    <div id="root">
        <div>
            <h1>{{appName}}</h1>
            <messages :removemessage="removemessage" :chat="messages"></messages>
            <chatform :totalmessages="messages.length" :save="save"></chatform>
        </div>

    </div>

    <template id="message-list">
        <div>
            <ul class="list-group">
                <li class="list-group-item" v-for="m,index in chat">
                    <messageitem :message = "m"></messageitem>
                    <removemessage :removemessagefunction = "removemessage"></removemessage>
                    <span style="position: relative; left: -50px;" class="pull-right">
                        Date: {{getRelativeTime(m.time)}}
                    </span>
                </li>
                <div v-if ="chat.length <=0">
                    <div class="alert alert-info">
                        <p>
                            NO Messages
                        </p>
                    </div>
                </div>
            </ul>
        </div>
    </template>


    <template id="remove_message">
        <span>
            <a v-on:click=" removemessagefunction() " class="close">
                X
            </a>
        </span>
    </template>

    <template id="message-item">
        <span>
            {{message.text}}
        </span>
    </template>


    <template id="chat-form">
        <div>
            <form v-on:submit.prevent="save(message),empty()">
                <label>Your Message</label>
                <input v-model="message" type="text" class="form-control"/>
                <div v-if="hasErrors" class="alert alert-danger">
                    <p>
                        Please enter a message
                    </p>
                </div>
                <button class="btn btn-info">
                    Send
                </button>
                <span class="pull-right badge badge-info">
                    {{totalmessages}}
                </span>
            </form>
        </div>
    </template>

    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <script type="text/javascript" src="vue.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>

</html>